<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registration Form</h1>

    <form action="/registration" method="POST">

        <input type='text' placeholder="Name" value='' name='username' />
        <br />
        <input type='email' placeholder="Email" value='' name='email' />
        <br />
        <input type='password' placeholder="Password" value='' name='password' />
        <br />

        <input type='password' placeholder="Confirm Password" value='' name='retypepass' />

        <br />
        <br />
        <button type="submit" value='Register'>Save now</button>
    </form>




</body>

</body>

</html>